@model _04_Data.Datos.Disco

@{
    ViewBag.Title = "Delete";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Borrar Artista</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Artistas</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Borrar Artista</p>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container-fluid py-5">
    <div class="container">
        <div>
            <h2>Borrar</h2>

            <h3>¿Estás seguro/a que quieres borrar esto?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.imagen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.imagen)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Autor.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Autor.nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Categoria.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categoria.nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Discografica.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Discografica.nombre)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Borrar" class="btn btn-primary py-2 px-4 my-2" /> |
                        @Html.ActionLink("Volver a la lista", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>